{% extends 'base.html' %} 
{% load staticfiles %}
{% block content %}

<div class="container">
    <div class="row">
        {% if user.is_authenticated %}
        <div class="col-xs-12 sm-col-12 col-md-3 col-lg-3 dashboard">
            <center><p><h3>Giddy Up {{ user.first_name }}</h3></p></center>
            <center><p><h4>You are successfully logged in</h4></p></center>
            <hr>
            <center><p><h4>Current Standings</h4></p></center>
            {% if profiles %}
                {% for profile in profiles%}
                <p>Your Score: {{profile.score}}<span><a href="{% url 'add_selection_confirmed' 4 %}" class="btn btn-primary my-horses-button pull-right">My Horses</a></span></p>
                {% endfor %}
            {% endif %}
            <p>Your Winners: {{winners}}</p>
            <p>Your Places: {{places}}</p>
            <hr>
            <p><h4><center>Add/Edit Selections</center></h4></p>
            <div>
                <center>
                {% if race_start_time is True %}
                    <a href="{% url 'add_selection' 1 %}" class="btn btn-primary select-button-margin">Day 1 Selections</a>
                {% else %}
                    <p><a href="{% url 'add_selection_confirmed' 1 %}" class="btn btn-primary select-button-margin">Day 1 deadline has passed</a></p>
                {% endif %}
                {% if race_start_time is True %}
                    <a href="{% url 'add_selection' 2 %}" class="btn btn-primary select-button-margin">Day 2 Selections</a>
                {% else %}
                    <p><a href="{% url 'add_selection_confirmed' 2 %}" class="btn btn-primary select-button-margin">Day 2 deadline has passed</a></p>
                {% endif %}
                {% if race_start_time is True %}
                    <a href="{% url 'add_selection' 3 %}" class="btn btn-primary select-button-margin">Day 3 Selections</a>
                {% else %}
                    <p><a href="{% url 'add_selection_confirmed' 3 %}" class="btn btn-primary select-button-margin">Day 3 deadline has passed</a></p>
                {% endif %}
                {% if race_start_time is True %}
                    <a href="{% url 'add_selection' 4 %}" class="btn btn-primary select-button-margin">Day 4 Selections</a>
                {% else %}
                    <p><a href="{% url 'add_selection_confirmed' 4 %}" class="btn btn-primary select-button-margin">Day 4 deadline has passed</a></p>
                {% endif %}
                </center>
            </div>
            <hr>
            <p><h4><center>View Leaderboard</center></h4></p>
            <center><a href="{% url 'leaderboard' %}" class="btn btn-primary" value="view_leaderboard">Leaderboard & Results</a></center>
        </div>
        <div class="col-xs-12 sm-col-12 col-md-9 col-lg-9">
            <div class="thumbnail">
                <h1><center>Cheltenham Racing Festival - 2018</center></h1>
                <p>
                    <center>
                    The Cheltenham Racing Fesitval is the pinnacle of the jump racing calendar. Every trainer wants to train a cheltenham winner, every owner wants to own a cheltenham winner and every jockey wants to ride a cheltenham winner. Simply the best four days of racing. 
                    </center>
                </p>
                <p>
                    <center>
                    For the racing enthuse there is no better time of year and nothing better to do than watch the best horses compete against each other at the home of jump racing. If you're still not hooked, check out the highlights of 2017 below and tell me you didn't get goose bumps.
                    </center>
                </p>
                <div class="embed-responsive embed-responsive-16by9">
                    <iframe class="embed-responsive-item" width="835" height="345" src="https://www.youtube.com/embed/tgkK7px8Fv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 sm-col-12 col-md-12 col-lg-12 center">
            <div>
                <p><h1><center>THINK YOU KNOW THE CHELTENHAM FESTIVAL?</center></h1></p>
            </div>
            <div>
                <p><h2><center>WANT AN INTEREST IN ALL 28 RACES?</center></h2></p>
            </div>
            <div>
                <p><h3><center>FANCY YOURSELF A TIPSTER?</center></h3></p>
            </div>
            <div>
                <p><h4><center>€25 - GO AND BEAT YOUR FRIENDS</center></h4></p>
            </div>
            <div>
                <center><a href="{% url 'signup' %}" class="btn btn-primary">Sign Up</a></center>
                <center><p>Already got an account?<a href="{% url 'login' %}">Login here</a></p></center>
            </div>
            <div class="col-xs-12 sm-col-12 col-md-12 col-lg-12">
                <div class="thumbnail">
                    <h1>Cheltenham Racing Festival - 2018</h1>
                    <p>
                        The Cheltenham Racing Fesitval is the pinnacle of the jump racing calendar. Every trainer wants to train a cheltenham winner, every owner wants to own a cheltenham winner and every jockey wants to ride a cheltenham winner. Simply the best four days of racing. 
                    </p>
                    <p>
                        For the racing enthuse there is no better time of year and nothing better to do than watch the best horses compete against each other at the home of jump racing. If you're still not hooked, check out the highlights of 2017 below and tell me you didn't get goose bumps.
                    </p>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe class="embed-responsive-item" width="1100" height="550" src="https://www.youtube.com/embed/tgkK7px8Fv8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}

{% endblock %}
