{% extends 'base.html' %} {% load bootstrap_tags %} {% block content %}

<h1>Leaderboard</h1>

<table style="width:100%">
    <h4>Day 1</h4>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Race 1</th>
        <th>Win</th>
        <th>Race 2</th>
        <th>Win</th>
        <th>Race 3</th>
        <th>Win</th>
        <th>Race 4</th>
        <th>Win</th>
        <th>Race 5</th>
        <th>Win</th>
        <th>Race 6</th>
        <th>Win</th>
        <th>Race 7</th>
        <th>Win</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mary</td>
        <td>Horse 1</td>
        <td>5</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>6</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>John</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>2</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tom</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
<hr>

<table style="width:100%">
    <h4>Day 2</h4>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Race 1</th>
        <th>Win</th>
        <th>Race 2</th>
        <th>Win</th>
        <th>Race 3</th>
        <th>Win</th>
        <th>Race 4</th>
        <th>Win</th>
        <th>Race 5</th>
        <th>Win</th>
        <th>Race 6</th>
        <th>Win</th>
        <th>Race 7</th>
        <th>Win</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mary</td>
        <td>Horse 1</td>
        <td>5</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>6</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>John</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>2</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tom</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
<hr>

<table style="width:100%">
    <h4>Day 3</h4>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Race 1</th>
        <th>Win</th>
        <th>Race 2</th>
        <th>Win</th>
        <th>Race 3</th>
        <th>Win</th>
        <th>Race 4</th>
        <th>Win</th>
        <th>Race 5</th>
        <th>Win</th>
        <th>Race 6</th>
        <th>Win</th>
        <th>Race 7</th>
        <th>Win</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mary</td>
        <td>Horse 1</td>
        <td>5</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>6</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>John</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>2</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tom</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>
<hr>

<table style="width:100%">
    <h4>Day 4</h4>
    <tr>
        <th>Position</th>
        <th>Name</th>
        <th>Race 1</th>
        <th>Win</th>
        <th>Race 2</th>
        <th>Win</th>
        <th>Race 3</th>
        <th>Win</th>
        <th>Race 4</th>
        <th>Win</th>
        <th>Race 5</th>
        <th>Win</th>
        <th>Race 6</th>
        <th>Win</th>
        <th>Race 7</th>
        <th>Win</th>
        <th>Total</th>
    </tr>
    <tr>
        <td>1</td>
        <td>Mary</td>
        <td>Horse 1</td>
        <td>5</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>6</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>11</td>
    </tr>
    <tr>
        <td>2</td>
        <td>John</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>2</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>1</td>
        <td>3</td>
    </tr>
    <tr>
        <td>3</td>
        <td>Tom</td>
        <td>Horse 1</td>
        <td>0</td>
        <td>Horse 2</td>
        <td>0</td>
        <td>Horse 3</td>
        <td>0</td>
        <td>Horse 4</td>
        <td>0</td>
        <td>Horse 5</td>
        <td>0</td>
        <td>Horse 6</td>
        <td>0</td>
        <td>Horse 7</td>
        <td>0</td>
        <td>0</td>
    </tr>
</table>

{% endblock %}
