{% extends 'base.html' %} 
{% load bootstrap_tags %}
{% block content %}

<h1>How The Game Works</h1>

<div>
    <ol>
        <li>Entry fee is €20.00.</li>
        <li>Pick one horse per race each day.</li>
        <li>Person with the most amount of points at the end of Day 4 is the winner.</li>
        <li>Prize money and number of winners will depend on number of entries.</li>
        <li>Points are awarded on the return starting price odds of the horse. (eg. starting price odds @ 4/1 returns you 4 points)</li>
        <li>If your horse places, you receive ¼ of the points regardless of the type of race. </li>
        <li>The number of places in a race and odds will be determined by PaddyPower website.</li>
        <li>Selections must be made before 13.30 each day or entry will be invalid. You can not edit your selections after 13.30 for any race.</li>
        <li>If your selection happens to become a non-runner, you will be giving horse number 1 in the race. </li>
        <li>Leaderboard will be updated each evening with points total.</li>
        <li>In the unlikely event of a tie, the winner will be determined by the number of winners, and then the number of places if needs be.</li>
    </ol>
</div>


{% endblock %}